.card{
    width:90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5e569d);
    color: #fff;
    
    border-radius: 20px;
    padding: 50px 50px;
    text-align: center;
  
}
.search{
   width:100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #edf1f0;
    color:#7e3333;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 70%;
    width:50px;
    height:50px;
    cursor: pointer;
}
.search button img{
    width: 35px;
}
.weather-icon{
    width: 170px;
    margin-top: 20px;
}
.weather h1{
    margin-top: 10px;
    font-size: 50px;
    font-weight: 200;
}
.weather h2{
   
    font-size: 45px;
    font-weight: 400;
    margin-top: -5px;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 50px;
    margin-top: -20px;
    margin-right: 5px;
    height: 50px;
}
.humidity, .wind{
    font-size: 20px;
    margin-top: -3px;
    margin-bottom: 5px;
}
body{
    background: url('images/back2.jpg');
    background-size: cover;
    align-items: center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 200px;
}